/* @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400&family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border: none;
}


h1 {
  font-size: 5vmin;
  margin: 3vmin 0;
  text-align: center;
}

form {
  display: grid;
  place-items: center;
}

input {
  padding: 1rem;
  min-width: 40rem;
  font-size: 2rem;
  text-transform: capitalize;
  border: none;
  border-bottom: 0.2rem solid #15133c;
  outline: none;
  margin-bottom: 3vmin;
}

.quoteStates{
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 30px 0;
  justify-content: center;
}


.quoteStates button{
  height: 40px;
  width: 150px;
  border-radius: 15px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.AddNew:hover{
  background-color: green;
}

.AllQuote:hover{
  background-color: blue;
}

.Active:hover{
  background-color: lightblue;
}

.Pending:hover{
  background-color: #6d66f5;
}

.Done:hover{
  background-color: lightgreen;
}

.ReadMore{
  display: flex;
  justify-content: center;
}

.ReadMore button{
  height: 40px;
  width: 150px;
  margin: 30px;
  background-color: #15133c;
  border-radius: 15px;
  border: none;
  color: #fff;
}

.card13{
  display: flex;
  justify-content: space-between;
}


.quetoState.pending {
  background-color: orange;
}

.quetoState.done {
  background-color: green;
}

.quetoState.active {
  background-color: blue;
}

.formContainer{
  display: flex;
  margin: auto;
  box-shadow: #15133c 0 0 2px;
  width: 30vw;
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 70px;
}

.heading{
  font-size: 30px;
}

.data input{
  font-size: 15px;
} */