@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400&family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border: none;
  color: #15133c;
}

h1 {
  font-size: 5vmin;
  margin: 3vmin 0;
  text-align: center;
}

.searchdiv input {
    padding: 10px;
    font-size: 15px;
    width: 350px;
    border: none;
    border-bottom: 3px solid #15133c;
    outline: none;
    margin-bottom: 2vmin;
  }

  /* search */
  .searchdiv{
    text-align: center;
  }

  
  /* Queto Card css start */
.stories-div {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  height: 220px;
  max-width: 450px;
  overflow: hidden;
  margin: 20px;
  padding: 20px;
  box-shadow: #15133c 0 0 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card1 h2 {
  font-size: 18px;
}

.card13 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quetoState {
  padding: 5px 20px;
  border-radius: 10px;
  color: #fff;
}

.card-button {
  display: flex;
  gap: 12px;
}

.card-button button {
  height: 20px;
  width: auto;
}

.card-button button img {
  height: 100%;
  width: 100%;
}

/* Queto Card css start */

.AddNew:hover {
  background-color: blue;
  color: #fff;
}

.AllQuote:hover {
  background-color: #6a994e;
  color: #fff;
}

.Active:hover {
  background-color: #114b5f;
  color: #fff;
}

.Pending:hover {
  background-color: #ff9100;
  color: #fff;
}

.Done:hover {
  background-color: #008000;
  color: #fff;
}

.ReadMore {
  display: flex;
  justify-content: center;
}

.ReadMore button {
  height: 40px;
  width: 150px;
  margin: 30px;
  background-color: #15133c;
  border-radius: 15px;
  border: none;
  color: #fff;
}

.quetoState.pending {
  background-color: #ff9100;
}

.quetoState.done {
  background-color: #008000;
}

.quetoState.active {
  background-color: #114b5f;
}

/* form css start */

.formContainer {
  display: flex;
  margin: auto;
  align-items: center;
  box-shadow: #15133c 0 0 2px;
  width: 30vw;
  height: 430px;
  padding: 30px;
  padding-top: 0;
  border-radius: 20px;
  margin-bottom: 50px;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: fi;
  gap: 5px;
}

.heading {
  font-size: 25px;
  text-align: center;
}

.dataHeading{
  font-size: 10px;
}

.data input {
  padding: 10px;
  min-width: 100%;
  height: 35px;
  font-size: 15px;
  border: none;
  border-bottom: 3px solid #15133c;
  outline: none;
  margin-bottom: 2vmin;
}

.btn{
    display: flex;
    align-items: center;
}

.btn button{
  box-shadow: #15133c 0 0 5px;
  padding: 5px 30px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 8px;
  margin: auto;
  margin-top: 10px;
}

.quoteStates {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 30px 0;
  justify-content: center;
}

.quoteStates button {
  height: 40px;
  width: 150px;
  border-radius: 15px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.data {
    /* width: 100%; */
}

.data input {
  font-size: 12px;
}
